{% extends "base.html" %}
{% load static %}
{% block title %}Server Dashboard{% endblock %}

{% block content %}
<div class="container">
    <div class="card">
        <h1 class="title">
            Server: {{ server.name }}
            <img class="server-ping" src="{% static 'images/red_circle.png' %}" alt="">
        </h1>
        <p class="subtitle">Insert API Key into plugin config to begin using CraftSensei</p>

        <div class="form-group">
            <label>API Key (Use in plugin config)</label>
            <input type="text" value="{{ server.api_key }}" readonly>
        </div>

{#        <div class="form-group">#}
{#            <label>Server IP</label>#}
{#            <input type="text" value="{{ server.ip }}" readonly>#}
{#        </div>#}

        <form method="POST" action="/dashboard/rotate-key/">
            {% csrf_token %}
            <button class="btn btn-primary">
                Rotate API Key
            </button>
        </form>
    </div>
</div>
{% endblock %}