# Ignore everything
*

# Allow folders so Git can still scan inside the repo
!*/

# Allow the main server jar
!server.jar

# Allow all README files
!README*
!readme*

# Allow .bat files
!*.bat

# Always track gitignore
!.gitignore